{% extends "base.html" %}


{% block content %}
  <div class="bg-body-tertiary p-5 rounded">
    <h1>Анализатор страниц</h1>
    <p class="lead">Бесплатно проверяйте сайты на SEO-пригодность</p>
    <form action="/urls" method="POST" class="d-flex" role="search">
      <input class="form-control me-2" type="text" name="url" placeholder="https://www.example.com" value="{{ url }}" aria-label="Search" required>
      <button class="btn btn-outline-success" type="submit">Проверить</button>
    </form>
  </div>
{% endblock %}